<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
          href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
          rel="stylesheet"
  />
  <link th:href="@{/createTaskStyle.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar">
  <ul>
    <li><a th:href="@{/profile}">Profile</a></li>
    <li><a th:href="@{/tasks}">Quest Hub</a></li>
  </ul>
</nav>
  <header> Create Task </header>
  <section id="user-goal">
  <form method="post" th:object="${task}" th:action="@{/handleSubmit}">
    <input type="text" placeholder="Task" th:field="*{task}">
    <input type="text" placeholder="Difficulty" th:field="*{value}">
    <input type="date" style="color:black" placeholder="Date" th:field="*{date}">
    <input type="hidden" th:field="*{id}">
    <br><br>
    <input type="submit" value="Create">
  </form>
</section>
</body>
</html>