<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link th:href="@{/styles.css}" rel="stylesheet"  />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a th:href="@{/profile}">Profile</a></li>
        <li><a th:href="@{/tasks}">Quest Hub</a></li>
      </ul>
    </nav>
    <header>
      <h1>Task Grinder</h1>
    </header>
    <section id="user-goal">
      <h2>What to expect</h2>
      <p>With this web app you can manage your tasks and give them a quest like character.
         You can assign a difficulty to your tasks based on the motivation you need to complete them. Earn xp by completing tasks in time to
          level up. As a motivation you can define rewards for leveling up. A reward may be a nice Diner or watching a movie in cinema. This should help you building
          a routine doing daily tasks that feels rewarding.
      </p>
    </section>
  </body>
</html>