<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasks</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link th:href="@{/styles.css}" rel="stylesheet"  />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a th:href="@{/profile}">Profile</a></li>
        <li><a th:href="@{/tasks}">Quest Hub</a></li>
      </ul>
    </nav>
    <header>
      <h1>Quests Hub</h1>
    </header>
    <section id="user-goal">
      <h2>My Quests</h2>
      <button type="button" th:onclick="'window.location.href = \'' + @{/createTask} + '\''">Add Task</button>
      <p>
        <table id="table" style="max-width: 800px;"> 
          <tr th:each="task : ${tasks}">
            <td th:text="${task.name}"></td>
            <td th:text="${task.value}"></td>
            <td th:text="${#dates.format(task.date, 'yyyy-MM-dd')}"></td>
            <td> <a role="button" class="Update" th:href="@{/(id = ${task.id})}">U</a></td>
            <td> <a role="button" class="Delete" th:href="@{/completed(id = ${task.id})}">Done</a></td>
          </tr>
        </table>
      </p>
    </section>
  </body>
</html>
